.l-img{
    width: 100%;
}
a.btn-link{
    cursor: pointer;
    text-decoration:none;
    font-family:'Poppins',sans-serif;
    padding: .625rem 1.625rem;
    color:#02101e;
    position:relative;
    display: block;
    font-size:0.875rem;
}
a.btn-link:hover{
    color:white;
}
